@import "tailwindcss";




@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.form-step { animation: slideIn 0.3s ease-out; }

/* my css styles */
.activeLink{
  border-bottom: 2px solid #fafafa; 
}